Section5/code/EarningsCallAnalyzer.json
[{"id":"5315f5bf.7bdd3c","type":"http in","z":"a5143588.988558","name":"HTTP Request","url":"/analyze","method":"get","upload":false,"swaggerDoc":"","x":93,"y":83.14286804199219,"wires":[["9bf3dd1b.8d11d"]]},{"id":"22d67c54.a4a2d4","type":"http response","z":"a5143588.988558","name":"Call Analyze Post","statusCode":"","headers":{},"x":829,"y":82.14286804199219,"wires":[]},{"id":"62bb0d2d.1fcd14","type":"template","z":"a5143588.988558","name":"CSS & Get Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Earnings Call Analyer</title>\n\t\t<meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n\t\t<meta charset=\"utf-8\">\n\t\t\t\t\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\t\t\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css\" integrity=\"sha256-1dcYWPAIBzLgOJlRNpMFWi1aIEWZU490to6kkbDmFM8=\" crossorigin=\"anonymous\" />        \n\n\t</head>\n\t\n\t<body>\n\t    <div class=\"ui\" id=\"fileuploader\" style=\"padding:10px;\">\n\t        <form id=\"data\" method=\"POST\" action=\"/analyzepost\" enctype=\"multipart/form-data\" >\n\t        \t<div class=\"ui input fluid action search focus\">\n  \t\t\t\t\t<input type=\"file\" class=\"ui input fluid\" id=\"audio_file\" name=\"audio_file\" >\n  \t\t\t\t\t<button type=\"submit\" class=\"ui tag label blue button\">Analyze</button>\n\t\t\t\t</div>\n\t\t\t</form>\n\t\t</div>\n        \t\t\n\t\t<div id=\"loadingimg\" style=\"padding-bottom:30px;\"\n\t\t     class=\"ui ui indeterminate text loader active centered\">Meanwhile, what is {{{num1}}} + {{{num2}}}?\n\t    </div>\n\t\t\n\t\t<div id=\"result\" class=\"html ui\" style=\"padding: 10px;\">\n\t\t\t<span id=\"\"></span>\n\t\t</div>\n    </body>\n</html>\n<script>{{{payload.script}}}</script>\n<script>\n    $(\"#loadingimg\").hide(); \n    $(\"#result\").hide();\n</script>","x":589,"y":83.14286804199219,"wires":[["c0a06efd.912d9","22d67c54.a4a2d4"]]},{"id":"c0a06efd.912d9","type":"debug","z":"a5143588.988558","name":"","active":false,"console":"false","complete":"true","x":832.7142333984375,"y":36,"wires":[]},{"id":"f60ee381.b817","type":"change","z":"a5143588.988558","name":"Loading Text","rules":[{"t":"set","p":"num1","pt":"msg","to":"$floor($random() * 1008)\t\t","tot":"jsonata"},{"t":"set","p":"num2","pt":"msg","to":"$floor($random() * 1008)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":408.5,"y":83,"wires":[["62bb0d2d.1fcd14"]]},{"id":"956cd1bb.13f2c","type":"comment","z":"a5143588.988558","name":"This section will be the UI to get the user input","info":"","x":183.5,"y":36,"wires":[]},{"id":"ac34022c.d0cc2","type":"comment","z":"a5143588.988558","name":"This section will process the user input via various Watson API's","info":"","x":240,"y":214.1428680419922,"wires":[]},{"id":"9292898d.2b3948","type":"debug","z":"a5143588.988558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":616.5,"y":203.14288330078125,"wires":[]},{"id":"60e2d73d.a23418","type":"http in","z":"a5143588.988558","name":"Analyze POST","url":"/analyzepost","method":"post","upload":true,"swaggerDoc":"","x":81.5,"y":258.1428680419922,"wires":[["a60cd231.399fa","9b5e2746.c879f8"]]},{"id":"a60cd231.399fa","type":"change","z":"a5143588.988558","name":"Set STT Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":287,"y":259,"wires":[["d38a248b.b493b8"]]},{"id":"48eef210.8cc8fc","type":"function","z":"a5143588.988558","name":"Get WC-Conf-Time","func":"// Count words in the transcript\nmsg.wc = 0;\nmsg.wc = msg.transcription.trim().split(/\\s+/).length;\n\n// confidence of transcription\nmsg.confidence = \"\";\nmsg.confidence = parseFloat(msg.fullresult.results[0].alternatives[0].confidence).toFixed(1) * 100 + \"%\";   \n\n//get total time of the audio\nvar t1 = [];\nt1 = msg.fullresult.results;\n\nvar timeArr = [];\ntimeArr = msg.fullresult.results[t1.length - 1].alternatives[0].timestamps;\nmsg.last_element = 0;\nmsg.audioTime = timeArr[timeArr.length - 1][2];\n\n// prepare payload for Watson NLU\nmsg.payload = msg.transcription;\n\nreturn msg;","outputs":1,"noerr":0,"x":696.5,"y":258,"wires":[["e0de9311.fad63","ac02e56e.a940f8"]]},{"id":"a0454993.62c5e8","type":"http response","z":"a5143588.988558","name":"HTTP Response","statusCode":"","headers":{},"x":824.5,"y":411,"wires":[]},{"id":"e46e02d7.9dcef","type":"template","z":"a5143588.988558","name":"HTML Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Earnings Call Analyer</title>\n\t\t<meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n\t\t<meta charset=\"utf-8\">\t\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css\" integrity=\"sha256-1dcYWPAIBzLgOJlRNpMFWi1aIEWZU490to6kkbDmFM8=\" crossorigin=\"anonymous\" />\n\t</head>\n\t\n\t<body>\n\t    <div class=\"ui\" id=\"fileuploader\" style=\"padding:10px;\">\n\t        <form id=\"data\" method=\"POST\" action=\"/analyzepost\" enctype=\"multipart/form-data\" >\n\t        \t<div class=\"ui input fluid action search focus\">\n  \t\t\t\t\t<input type=\"file\" class=\"ui input fluid\" id=\"audio_file\" name=\"audio_file\" >\n  \t\t\t\t\t<button type=\"submit\" class=\"ui tag label blue button\">Analyze</button>\n\t\t\t\t</div>\n\t\t\t</form>\n\t\t  </div>\n        \t\t\n\t  <div id=\"loadingimg\" style=\"padding-bottom:30px;\"\n\t\t     class=\"ui ui indeterminate text loader active centered\">Meanwhile, what is {{{num1}}} + {{{num2}}}?\n\t  </div>\n\t\t\n\t<div id=\"result\" class=\"html ui\" style=\"padding: 10px;\">\n      <div class=\"ui horizontal segments\">\n        <div class=\"ui segment\">\n          <div class=\"ui orange statistic\">\n            <div class=\"value\">\n              {{confidence}}\n            </div>\n            <div class=\"label\">\n              Transcription Confidence\n            </div>\n          </div>\n        </div>\n        <div class=\"ui segment\">\n          <div class=\"ui pink statistic\">\n            <div class=\"value\">\n              {{audioTime}}\n            </div>\n            <div class=\"label\">\n              Audio Duration (secs)\n            </div>\n          </div>\n        </div>\n        <div class=\"ui segment\">\n          <div class=\"ui brown statistic\">\n            <div class=\"value\">\n              {{lang}}\n            </div>\n            <div class=\"label\">\n              Language\n            </div>\n          </div>\n        </div>\n        <div class=\"ui segment\">\n          <div class=\"ui green statistic\">\n            <div class=\"value\">\n              {{wc}}\n            </div>\n            <div class=\"label\">\n              Num. of Words\n            </div>\n          </div>\n        </div>\n        <div class=\"ui segment\">\n          <div class=\"ui blue statistic\">\n            <div class=\"value\">\n              {{sentiment}}\n            </div>\n            <div class=\"label\">\n              Sentiment\n            </div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"ui icon message\">\n        <i class=\"closed captioning icon\"></i>\n        <div class=\"content\">\n          <div class=\"header\">\n            Transcription\n          </div>\n          <p>{{transcription}}</p>\n        </div>\n      </div>\n       \n      <div class=\"ui horizontal segments\">\n          <div class=\"ui segment\">\n            <h4 class=\"ui header\">Entities</h4>\n            <table class=\"ui small table\">\n                <thead>\n                    <tr>\n                        <th>Value</th>\n                        <th>Type</th>\n                        <th>Confidence</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    {{#features.entities}}\n                    <tr>\n                        <td>{{text}}</td>\n                        <td>{{type}}</td>\n                        <td>{{relevance}}</td>\n                    </tr>\n                    {{/features.entities}}\n                </tbody>\n            </table>\n          </div>\n          \n          <div class=\"ui segment\">\n            <h4 class=\"ui header\">Doc Emotion</h4>\n            <div class=\"ui divided selection list\">\n              <a class=\"item\">\n                <div class=\"ui red horizontal label\">Anger</div>\n                {{features.emotion.document.emotion.anger}}\n              </a>\n              <a class=\"item\">\n                <div class=\"ui yellow horizontal label\">Joy</div>\n                {{features.emotion.document.emotion.joy}}\n              </a>\n              <a class=\"item\">\n                <div class=\"ui green horizontal label\">Disgust</div>\n                {{features.emotion.document.emotion.disgust}}\n              </a>\n              <a class=\"item\">\n                <div class=\"ui purple horizontal label\">Fear</div>\n                {{features.emotion.document.emotion.fear}}\n              </a>\n              <a class=\"item\">\n                <div class=\"ui blue horizontal label\">Sadness</div>\n                {{features.emotion.document.emotion.sadness}}\n              </a>\n            </div>\n          </div>\n      </div>\n\n      <div class=\"ui\">\n       <div class=\"ui segment\">\n         <h4 class=\"ui header\">Significant Keywords</h4>\n         <div class=\"ui blue labels\">\n           {{#features.keywords}}\n           <a class=\"ui label\">\n             {{text}}\n             <div class=\"detail\">{{relevance}}</div>\n           </a>\n           {{/features.keywords}}\n         </div>\n       </div>\n     </div>\n\t\t</div>\n  </body>\n</html>\n<script>\n    $(\"#loadingimg\").hide(); \n    // restore borwser URL to /analyze\n    window.history.pushState(null, 'Earnings Call Analyer', '/analyze');\n</script>\n<script>{{{payload.script}}}</script>","output":"str","x":618.5,"y":411,"wires":[["a0454993.62c5e8","51f7213e.7113e"]]},{"id":"e0de9311.fad63","type":"natural-language-understanding","z":"a5143588.988558","name":"Watson NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":477.5,"y":326,"wires":[["a8a532c9.74eb8"]]},{"id":"a8a532c9.74eb8","type":"function","z":"a5143588.988558","name":"Get Sent-Ent-Key","func":"// overall sentiment\nmsg.sentiment = \"\";\nmsg.sentiment = msg.features.sentiment.document.label;\n\n// overall sentiment score\nmsg.sentimentScore = \"\";\nmsg.sentimentScore = parseFloat(msg.features.sentiment.document.score).toFixed(2) * 100 + \"%\";\n\n// detected language\nmsg.lang = msg.features.language;\n\n// create keyword array for word cloud\n// {text: \"Lorem\", weight: 15}\nmsg.keywords = [];\n\nfor(i = 0, len = msg.features.keywords.length; i < len; i++) {\n    msg.keywords.push({\n      'text':  msg.features.keywords[i].text,\n      'weight': msg.features.keywords[i].relevance\n    });\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":697.5,"y":325,"wires":[["a65b78ed.46d258","e46e02d7.9dcef"]]},{"id":"a65b78ed.46d258","type":"debug","z":"a5143588.988558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":863.5,"y":307,"wires":[]},{"id":"51f7213e.7113e","type":"debug","z":"a5143588.988558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":767.5,"y":463,"wires":[]},{"id":"9b5e2746.c879f8","type":"debug","z":"a5143588.988558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":200.5,"y":410,"wires":[]},{"id":"9bf3dd1b.8d11d","type":"template","z":"a5143588.988558","name":"JS","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"#myForm2\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        //var form_data = $(this).serializeArray();\n        //var form_data = $(this).serialize();\n        //var form_data = $('#audio_file').files[0];\n\n        //form_data.append('file', $('#file')[0].files[0]);\n        //var form_data = $(this).append( 'file', $( '#file' )[0].files[0] );\n        \n        var form_data = $(this).serializeArray();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#result\").empty();\n        $(\"#loadingimg\").show();        \n\n        $.ajax({\n            url: form_url,\n            type: form_method,      \n            data: form_data,\n            cache: false,\n            contentType: false,\n            processData: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n});\n\n","x":262,"y":83,"wires":[["f60ee381.b817"]]},{"id":"d38a248b.b493b8","type":"watson-speech-to-text","z":"a5143588.988558","name":"Watson STT","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"sHY1YCg2SMti","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":494.5174102783203,"y":258.77781772613525,"wires":[["48eef210.8cc8fc","9292898d.2b3948"]]},{"id":"ac02e56e.a940f8","type":"debug","z":"a5143588.988558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":853.5277786254883,"y":202.55904006958008,"wires":[]}]